.widget {
  position: fixed;
  top: 120px;
  right: 24px;
  z-index: 40;
  display: flex;
  align-items: stretch;
  background: var(--grey-900);
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  box-shadow: var(--shadow-level-2);
  overflow: hidden;
}

.iconBubble {
  background: #25d366;
  width: 42px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--grey-0);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding: var(--space-1x) var(--space-2x);
  width: 204px;
}

.title {
  font-size: var(--font-size-3xs);
  font-weight: var(--font-weight-semibold);
  color: #586880;
  background: var(--grey-0);
}

.subtitle {
  font-size: var(--font-size-2xs);
  color: #929eb1;
  background: var(--grey-0);
}

.text {
  background: var(--grey-0);
}

@media (max-width: 640px) {
  .widget {
    top: auto;
    bottom: 16px;
    right: 16px;
    border-radius: var(--radius-circular);
  }

  .text {
    display: none;
  }
}
